<h1> <%= title %>  </h1>
<div class="services">
I offer the services listed below:
<ul>
    <li>Programming in languages like C#, C++, Java</li>
    <li>Managing databases using SQL queries and PL/SQL</li>
    <li>Website development using Javascript, HTML, PHP</li>
</ul>

</div>